<footer>
  <div class="container">
    <ul>
      <li>@Copyright2014</li>
      <li>.</li>
      <li><%= link_to  "About", about_path %></li>
      <li>.</li>
      <li><%= link_to  "Contact", contact_path %></li>
    </ul>
  </div>
</footer>